:root {
    --text-color: hsla(210, 50%, 85%, 1);
    --shadow-color: hsla(210, 40%, 52%, .4);
    --btn-color: hsl(210, 80%, 42%);
    --bg-color: #141218;
  }
  *
  {
      box-sizing: border-box;
  }
  
  body {
    background-color: lightblue;
  }
  
  /* button全体にかかるbubbles */
  
  button::before {
    content: '';
    pointer-events: none;
    opacity: .6;
    background:
      radial-gradient(circle at 20% 35%,  transparent 0,  transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
      radial-gradient(circle at 75% 44%, transparent 0,  transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
      radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, var(--text-color) 5px, var(--text-color) 6px, transparent 6px);
  
    width: 100%;
    height: 300%;
    top: 0;
    left: 0;
    position: absolute;
    animation: bubbles 5s linear infinite both;
  }
  @keyframes bubbles {
    from {
      transform: translate();
    }
    to {
      transform: translate(0, -66.666%);
    }
  }
  
  
  #B1/*チャットボックスのフォーム指定*/
  {
    
   text-align:center;
    position:relative;
    padding: 10px 2px;  
    border: none;
    background: none;
  
    font-family: "Source Code Pro";
    font-weight: 900;
    text-transform: uppercase;
    font-size: 30px;  
    color: #fff;
     background-color: var(--btn-color);
    box-shadow: var(--shadow-color) 2px 2px 22px;
    border-radius: 4px; 
    z-index: 0;  
    overflow: hidden;   
  }
  #B1:focus {
    outline-color: transparent;
    box-shadow: var(--btn-color) 2px 2px 22px;
    /* bubbles */
    button::before {
    content: '';
    pointer-events: none;
    opacity: .6;
    background:
      radial-gradient(circle at 20% 35%,  transparent 0,  transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
      radial-gradient(circle at 75% 44%, transparent 0,  transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
      radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, var(--text-color) 5px, var(--text-color) 6px, transparent 6px);
  
    width: 100%;
    height: 300%;
    top: 0;
    left: 0;
    position: absolute;
    animation: bubbles 5s linear infinite both;
  }
  @keyframes bubbles {
    from {
      transform: translate();
    }
    to {
      transform: translate(0, -66.666%);
    }
    }
    }}
  
  
  #B2, #B3, #B4, #msg/*チャットというなのボックス以外のボックスフォーム指定*/
  {
    text-align: center;
    position:relative;
    padding: 10px 2px;  
    border: none;
    background: none;
    cursor: pointer;
    
    font-family: "Source Code Pro";
    font-weight: 900;
    text-transform: uppercase;
    font-size: 25px; 
    color: #fff;
    
    background-color: var(--btn-color);
    box-shadow: var(--shadow-color) 2px 2px 22px;
    border-radius: 4px; 
    z-index: 0;  
    overflow: hidden;   
  
  button:focus;
    outline-color: transparent;
    box-shadow: var(--btn-color) 2px 2px 22px;
    
    }
  
  
  #chats
  {
      font-size:5vw;
  }
  #chats dt
  {
      margin: 2vw 0;
      border:1px solid #333;
      border-radius:3vw;
      padding:1vw 3vw;
      display: inline-block;
  }
  #chats dd
  {
      margin-left: 8vw;
      position: relative;
      background-color:#ccc;
      border-radius:3vw;
      padding:1vw 3vw;
  }
  #chats dd::before
  {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: -6vw;
      margin-top: -7vw;
      border: 3vw solid transparent;
      border-right: 8vw solid #ccc;
      transform: rotate(40deg);
      z-index: -1;
  }
  
  #form
  {
      display:none;
  }
  